<title>Grid Game</title>
<h1>Click on direction buttons to move the color around different cells.</h1>
<br>
<br>
<div class="container" tabindex="0" (keydown.arrowup)="moveUp()"
                      (keydown.arrowleft)="moveLeft()"
                      (keydown.arrowdown)="moveDown()"
                      (keydown.arrowright)="moveRight()"
                      (keydown)="changeGrid($event)">
  <div class="left-element">
<label for="rows">Rows (between 2 and 10):</label><br>
<input type="range" id="rows" name="rows" min="2" max="10" [(ngModel)]="total_rows" ><br>
<label for="cols">Columns (between 2 and 10):</label><br>
<input type="range" id="cols" name="cols" min="2" max="10" [(ngModel)]="total_columns"><br>
</div>
<div class="right-element">
<button  class="c-btn-up" (click)="moveUp()"></button>
<br>
<button class="c-btn-left" (click)="moveLeft()"></button> 
<button  class="c-btn-right" (click)="moveRight()"></button>
<br>
<button  class="c-btn-down" (click)="moveDown()"></button>
</div>
</div>
<app-grid [row]="row" [col]="col" [total_rows]="total_rows" [total_columns]="total_columns" (new_row)="updateRow($event)" (new_col)="updateCol($event)"></app-grid>