<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Counter</title>
  </head>
  <body>
    <div class="container">
      <div>
        <p>Limit exceeded!!!</p>
        <p>Reset the counter?</p>
        <button class="btn" (click)="reset()">
          <i class="fa fa-refresh"></i> Reset
        </button>
        <button class="btn cancel" (click)="cancel()">
          <i class="fa fa-times"></i> Cancel
        </button>
      </div>
    </div>
  </body>
</html>
